*
!.gitignore

!/alacritty
!/alacritty/*

!/awesome
!/awesome/*

!/cargo
!/cargo/*

!/nvim
!/nvim/*

!/mako/
!/mako/*

!/starship
!/starship/*

!/sway
!/sway/*

!/swappy/
!/swappy/*

!/waybar
!/waybar/*

!/workstyle
!/workstyle/*

!/wpaperd
!/wpaperd/*

!/zsh
!/zsh/zshrc
